body, div, a, p, header, section, article, h1, h2, h3, h4, ul, li, i, nav, img, br, .conteiner, .home, .figure, .figurecaption {
  border: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }
  a:visited {
    color: inherit; }

::-webkit-scrollbar {
  width: 15px; }

::-webkit-scrollbar-track {
  background: #6c6c6c;
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey; }

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 20px; }

::-webkit-scrollbar-thumb:hover {
  background: #FFD700; }

.slicknav_menu {
  display: none; }

@media (max-width: 940px) {
  .slicknav_menu {
    display: block;
    position: absolute;
    right: 50px;
    top: 7px;
    background: none;
    opacity: 0.9;
    width: 100%;
    padding: 10px 5px;
    z-index: 500; }
    .slicknav_menu .slicknav_btn {
      margin: 5px 0 5px;
      padding: 5px;
      background-color: inherit; }
    .slicknav_menu .slicknav_menutxt {
      font-family: "Cinzel";
      color: #FFD700; }
    .slicknav_menu .slicknav_icon-bar {
      background-color: #FFD700; }
    .slicknav_menu .slicknav_nav {
      background-color: #161616;
      position: absolute;
      width: 100%;
      left: 50px;
      top: 60px;
      text-align: center; }
      .slicknav_menu .slicknav_nav li {
        display: inline-block; }
        .slicknav_menu .slicknav_nav li a {
          color: #FFD700; }
          .slicknav_menu .slicknav_nav li a:hover {
            background: #6c6c6c; } }
@media (max-width: 480px) and (min-width: 360px) {
  .slicknav_menu {
    right: 30px; }
    .slicknav_menu .slicknav_menutxt {
      display: none; }
    .slicknav_menu .slicknav_nav {
      left: 30px; }
      .slicknav_menu .slicknav_nav li {
        margin: 0; }
        .slicknav_menu .slicknav_nav li a {
          font-size: 12px;
          padding: 5px; } }
html {
  font-family: "Cinzel", serif;
  font-family: "Noto Serif", serif;
  font-family: "Lato", sans-serif;
  font-family: "Vollkorn SC", serif; }

header {
  width: 100%;
  height: 75px;
  background-color: #161616; }
  header .header_content {
    width: 80%;
    padding: 25px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; }
    header .header_content .logo {
      font-family: "Cinzel";
      font-size: 28px;
      font-weight: 400;
      color: #FFD700; }
  header .menu {
    margin-left: 25%; }
    header .menu ul {
      margin-top: 5px; }
      header .menu ul li {
        display: inline;
        list-style: none;
        margin: 0 20px; }
      header .menu ul a {
        font-family: "Vollkorn SC";
        color: #FFD700;
        font-size: 18px;
        text-decoration: none; }
        header .menu ul a:hover {
          border-bottom: 5px solid #FFD700;
          padding-bottom: 16px; }
  header .lang img {
    width: 25px;
    height: 15px;
    margin: 7px 7px;
    opacity: 0.5; }
    header .lang img:hover {
      opacity: 1; }

@media (max-width: 1580px) {
  header .header_content {
    width: 90%; } }
@media (max-width: 1480px) {
  header .header_content .logo {
    font-size: 24px; }
  header .header_content .menu ul li a {
    font-size: 16px; }
    header .header_content .menu ul li a:hover {
      padding-bottom: 20px; } }
@media (max-width: 1280px) {
  header .menu {
    margin-left: 20%; }
    header .menu ul li {
      margin: 0 15px; } }
@media (max-width: 1160px) {
  header .menu {
    margin-left: 15%; } }
@media (max-width: 1080px) {
  header .menu {
    margin-left: 10%; }
    header .menu ul li {
      margin: 0 10px; } }
@media (max-width: 1024px) {
  header .header_content .lang {
    display: block; }
    header .header_content .lang img {
      width: 20px;
      height: 10px;
      margin: 8px 5px; } }
@media (max-width: 960px) {
  header .header_content {
    width: 95%; }
    header .header_content .lang {
      text-align: right; } }
@media (max-width: 940px) {
  header .header_content .menu {
    display: none; }
  header .header_content .lang {
    width: 25px; }
    header .header_content .lang img {
      margin: 0 0 5px 7px; } }
@media (max-width: 680px) {
  header .header_content {
    width: 95%;
    padding: 25px 9px; } }
@media (max-width: 480px) and (min-width: 360px) {
  header .header_content .logo {
    font-size: 20px; }
  header .header_content .lang {
    margin-top: -5px; } }
.home {
  width: 100%;
  height: 100vh;
  background-color: #6c6c6c; }
  .home .parallax_scroll {
    background-image: url("../images/home_bg.png");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100vh; }
    .home .parallax_scroll .home_content {
      padding-top: 35vh; }
    .home .parallax_scroll h1 {
      font-family: "Vollkorn SC";
      font-size: 100px;
      font-weight: 600;
      color: white;
      text-align: right;
      text-transform: uppercase;
      opacity: 0.9;
      margin: 0 10vw;
      text-shadow: 2px 2px 5px rgba(140, 144, 144, 0.5); }
      .home .parallax_scroll h1 span {
        color: #FFD700;
        font-size: 72px; }

@media (max-width: 1280px) {
  .home .parallax_scroll h1 {
    font-size: 80px; }
    .home .parallax_scroll h1 span {
      font-size: 60px; } }
.home .parallax_scroll h1 {
  margin: 0 5vw; }

@media (max-width: 860px) {
  .home .parallax_scroll h1 {
    font-size: 70px; }
    .home .parallax_scroll h1 span {
      font-size: 50px; } }
@media (max-width: 640px) {
  .home .parallax_scroll {
    background-image: url("../images/home_bg_little.png");
    background-position: center left 10%;
    background-size: cover; }
    .home .parallax_scroll .home_content {
      padding-top: 55vh; }
    .home .parallax_scroll h1 {
      font-size: 50px;
      text-align: center; }
      .home .parallax_scroll h1 span {
        font-size: 30px; } }
@media (max-width: 400px) and (min-width: 360px) {
  .home .parallax_scroll .home_content {
    padding-top: 5vh; }
  .home .parallax_scroll h1 {
    font-size: 46px;
    text-align: center; }
    .home .parallax_scroll h1 span {
      font-size: 25px; } }
h2 {
  color: white;
  font-family: "Cinzel";
  font-size: 40px;
  text-transform: uppercase;
  padding: 85px 0 0;
  text-align: center;
  line-height: 1.4; }
  h2 span {
    color: #FFD700; }

@media (max-width: 1024px) {
  h2 {
    font-size: 32px;
    line-height: 1.2;
    padding: 65px 0 0; }
    h2 h2:after {
      padding: 0 0 65px; } }
.line {
  background-color: #FFD700;
  width: 100%;
  height: 1vh; }

.arrow {
  width: 0;
  height: 0;
  margin: 0 auto;
  border: 15px solid transparent;
  border-top-color: #FFD700;
  border-bottom: 0; }

.about_dread {
  width: 100%;
  height: auto;
  background-color: #161616;
  background-image: url("../images/about_bg.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; }
  .about_dread .about_content {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 85px; }
    .about_dread .about_content h2:after {
      content: "";
      display: block;
      width: 10%;
      height: 3px;
      background: #FFD700;
      text-align: center;
      margin: 25px auto 85px; }
    .about_dread .about_content h3 {
      margin: 70px auto 40px;
      font-family: "Vollkorn SC";
      font-size: 38px;
      font-weight: 200;
      color: #FFD700;
      text-align: center; }
    .about_dread .about_content h4 {
      margin: 40px auto 25px 25px;
      font-family: "Vollkorn SC";
      font-size: 28px;
      font-weight: 200;
      line-height: 1.2;
      color: white; }
      .about_dread .about_content h4 span {
        color: #FFD700; }
    .about_dread .about_content p {
      font-size: 20px;
      line-height: 1.5;
      text-align: justify;
      font-family: "Lato";
      text-indent: 30px;
      color: white; }
    .about_dread .about_content ul {
      list-style: none; }
      .about_dread .about_content ul li {
        display: inline-block;
        font-size: 22px;
        line-height: 2;
        text-align: justify;
        font-family: "Lato";
        text-indent: 30px;
        color: white; }
        .about_dread .about_content ul li i {
          font-size: 16px;
          color: #FFD700;
          margin-right: 10px;
          top: -2px; }
    .about_dread .about_content .price {
      font-size: 24px;
      margin: 60px auto 40px;
      text-align: center;
      color: #FFD700; }

@media (max-width: 1024px) {
  .about_dread .about_content {
    width: 90%; }
    .about_dread .about_content h2:after {
      margin: 25px auto 65px; }
    .about_dread .about_content h4 {
      margin: 30px auto 20px 25px;
      font-size: 24px; }
    .about_dread .about_content p {
      font-size: 18px;
      line-height: 1.2; }
    .about_dread .about_content ul li {
      font-size: 20px;
      line-height: 1.6; }
      .about_dread .about_content ul li i {
        font-size: 16px;
        color: #FFD700;
        margin-right: 10px;
        top: -2px; }
    .about_dread .about_content .price {
      font-size: 20px;
      margin: 50px auto 30px; } }
@media (max-width: 800px) {
  .about_dread .about_content h4 {
    text-align: center;
    margin: 30px auto 25px 0; }
  .about_dread .about_content ul li {
    display: block;
    text-indent: 0;
    text-align: center; } }
@media (max-width: 680px) {
  .about_dread .about_content h2:after {
    width: 20%; } }
@media (max-width: 480px) {
  .about_dread .about_content h2:after {
    margin: 20px auto 50px; }
  .about_dread .about_content h4 {
    margin: 25px auto 20px 25px;
    font-size: 22px; }
  .about_dread .about_content p {
    font-size: 16px;
    line-height: 1.2; }
  .about_dread .about_content ul li {
    font-size: 16px;
    line-height: 1.4; }
    .about_dread .about_content ul li i {
      font-size: 16px;
      color: #FFD700;
      margin-right: 10px;
      top: -2px; }
  .about_dread .about_content .price {
    font-size: 16px;
    margin: 40px auto 25px; } }
.gallery {
  width: 100%;
  height: auto;
  background-image: url("../images/gal_bg_k.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; }
  .gallery .gallery_content {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 85px; }
    .gallery .gallery_content h2 {
      color: #FFD700; }
      .gallery .gallery_content h2:after {
        content: "";
        display: block;
        width: 10%;
        height: 3px;
        background: #FFD700;
        text-align: center;
        margin: 25px auto 85px; }
    .gallery .gallery_content .gallery_main {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      .gallery .gallery_content .gallery_main .gallery_item {
        width: 30%;
        height: auto;
        margin: 1%;
        position: relative; }
        .gallery .gallery_content .gallery_main .gallery_item:before {
          background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #161616), to(#FFD700));
          background: linear-gradient(to bottom, #161616 50%, #FFD700 100%);
          width: 7px;
          height: 98%;
          content: "";
          display: block;
          position: absolute;
          top: 2px; }
        .gallery .gallery_content .gallery_main .gallery_item:after {
          background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #161616), to(#FFD700));
          background: linear-gradient(to bottom, #161616 10%, #FFD700 100%);
          width: 7px;
          height: 98%;
          content: "";
          display: block;
          position: absolute;
          top: 2px;
          right: 0; }
        .gallery .gallery_content .gallery_main .gallery_item img {
          height: auto;
          width: 100%;
          border-top: 7px solid #161616;
          border-bottom: 7px solid #FFD700;
          border-radius: 4px; }
        .gallery .gallery_content .gallery_main .gallery_item a {
          width: 100%;
          height: 100%; }

@media (max-width: 1295px) {
  .gallery .gallery_content .gallery_main .gallery_item:before,
  .gallery .gallery_content .gallery_main .gallery_item:after {
    height: 96%; } }
.gallery .gallery_content {
  width: 90%; }

@media (max-width: 840px) {
  .gallery .gallery_content .gallery_main .gallery_item:before,
  .gallery .gallery_content .gallery_main .gallery_item:after {
    height: 94%; } }
@media (max-width: 680px) {
  .gallery .gallery_content h2:after {
    width: 20%; }

  .gallery .gallery_content .gallery_main .gallery_item {
    width: 45%; }

  .gallery .gallery_content .gallery_main .gallery_item:before,
  .gallery .gallery_content .gallery_main .gallery_item:after {
    height: 96%; } }
@media (max-width: 560px) {
  .gallery .gallery_content .gallery_main .gallery_item:before,
  .gallery .gallery_content .gallery_main .gallery_item:after {
    height: 94%; } }
@media (max-width: 480px) and (min-width: 360px) {
  .gallery .gallery_content .gallery_main .gallery_item {
    width: 90%; }

  .gallery .gallery_content .gallery_main .gallery_item:before,
  .gallery .gallery_content .gallery_main .gallery_item:after {
    height: 97%; } }
.contacts {
  width: 100%;
  height: auto;
  background-color: #313131;
  background-image: url("../images/contact_bg.png");
  background-position: center center;
  background-size: cover; }
  .contacts .contacts_content {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 65px; }
    .contacts .contacts_content h2 {
      font-size: 35px;
      padding: 45px 0 0;
      color: #FFD700; }
      .contacts .contacts_content h2:after {
        content: "";
        display: block;
        width: 10%;
        height: 3px;
        background: #FFD700;
        text-align: center;
        margin: 35px auto 55px; }
    .contacts .contacts_content .contacts_main {
      width: 75%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 0 auto; }
      .contacts .contacts_content .contacts_main i {
        font-size: 30px;
        height: 30px;
        width: 30px;
        color: #161616;
        background-color: #FFD700;
        padding: 15px;
        border-radius: 100%;
        text-align: center;
        -webkit-transition: 2s;
        transition: 2s; }
        .contacts .contacts_content .contacts_main i:hover {
          color: white;
          -webkit-transform: scale(1.2);
                  transform: scale(1.2);
          -webkit-transition: 1s;
          transition: 1s; }

@media (max-width: 680px) {
  .contacts .contacts_content {
    width: 90%; }
    .contacts .contacts_content h2:after {
      width: 20%; }
    .contacts .contacts_content .contacts_main {
      width: 100%; } }
@media (max-width: 480px) and (min-width: 360px) {
  .contacts .contacts_content .contacts_main i {
    font-size: 25px;
    height: 25px;
    width: 25px;
    padding: 12px; } }
footer {
  width: 100%;
  height: 50px;
  background-color: #161616; }
  footer p {
    padding: 18px 0;
    font-size: 14px;
    color: #FFD700;
    text-align: center; }
